.logo {
    width: 224px;
    height: 73px;
}

.titleLogoWhite {
    fill: #fff;
}

.titleLogoBlack {
    fill: #000;
}

.backgroundOP4 {
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: 500;
}

.backgroundOP9 {
    background-color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
}

.padding-x {
    @apply px-2
}

