.window {
    @apply w-[70%] p-8 rounded-[30px] bg-[#FFDEEF] absolute top-[50%] right-[-20%] translate-x-[-50%]
    translate-y-[-50%]
}

.img {
    @apply w-full relative 
}

.descriptionTitle {
    background: linear-gradient(50deg, #714DFF, #9C83FF 31.28%, #E151FF 54.97%, #FFF759 70.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
